name: CI
on:
  push:
    branches:
      - main
      - develop
      - next

  pull_request:
    types:
      - opened
      - synchronize

# Needed for nx-set-shas when run on the main branch
permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - run: npm ci --no-audit --no-fund --verbose

      - uses: nrwl/nx-set-shas@v4

      - run: npx nx affected --exclude @blue-js/monorepo -t lint test build
